@model CODEFIRST.Models.Membership

@{
    ViewData["Title"] = "MembershipDetails";
}

<h1>Details</h1>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonDetail.FirstName)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonDetail.LastName)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonDetail.EmailId)
        </dd>


          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account_Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account_Balance)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipCategory.Membership_Category_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Membership_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
